<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0,	user-scalable=0, minimal-ui" />
        <meta name="description" content="" />
        <meta name="csrf-token" content="{{ csrfToken }}" />
        <title></title>
        <link href="https://d2fr04o1fa2cvp.cloudfront.net/optimized/css/vendors.min.css" rel="stylesheet" />
        <link href="https://d2fr04o1fa2cvp.cloudfront.net/optimized/css/app.css" rel="stylesheet" />
        <link href="https://d2fr04o1fa2cvp.cloudfront.net/optimized/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    
        <link rel="stylesheet" href="webrtc/custom.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
        <style>
            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-bottom: 1rem;
        font-weight: 700;
        line-height: 1.2;
        color: #2C3038;
    }
        </style>
    </head>

<body>
	<div class="navbar-container">
		<nav class="navbar navbar-expand-lg navbar-light" data-sticky="top">
			<div class="container">
				<a id="online-users" href="#" class="nav-link nav-link-expand"></a>
				<a id="available-tokens" href="#" class="nav-link"></a>
				<div class="d-flex align-items-center order-lg-3">
					<!-- <button id="btn_open_modal_buy_tokens" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal_upgrade_to_premium" data-tokens="100">
						Upgrade Premium
					</button> -->
					<!-- <a href="#" class="btn btn-primary ml-lg-4 mr-3 mr-md-4 mr-lg-0 d-none d-sm-block order-lg-3">Upgrade to Premium</a> -->
					<button aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target=".navbar-collapse" data-toggle="collapse" type="button">
						<img alt="Navbar Toggler Open Icon" class="navbar-toggler-open icon icon-sm" data-inject-svg src="/theme/jumpstart/assets/img/icons/interface/icon-menu.svg">
						<img alt="Navbar Toggler Close Icon" class="navbar-toggler-close icon icon-sm" data-inject-svg src="/theme/jumpstart/assets/img/icons/interface/icon-x.svg">
					</button>
				</div>
				<div class="collapse navbar-collapse order-3 order-lg-2 justify-content-lg-end" id="navigation-menu">
					<ul class="navbar-nav my-3 my-lg-0">
						<li class="nav-item">
							<a class="nav-link nav-item" href="/" role="button">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-item" href="/blog" role="button">Blog</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-item" href="/faq" role="button">FAQ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-item" href="/about-us" role="button">About Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-item" href="/contact-us" role="button">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<section class="bg-light">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="card">
						<div class="card-content">
							<div class="card-body">
								<div class="card-body">

                                    <h1><span class="fa fa-sign-in"></span> Login</h1>
                                    <hr>
									<!-- show any messages that come back with authentication -->
						            <% if (message.length > 0) { %>
						                <div class="alert alert-danger"><%= message %></div>
						            <% } %>

						            <!-- LOGIN FORM -->
						            <form action="/" method="post">
						                <div class="form-group">
						                    <label>Username</label>
						                    <input type="text" class="form-control" name="username" required>
						                </div>
						                <div class="form-group">
						                    <label>Password</label>
						                    <input type="password" class="form-control" name="password" required>
						                </div>
						                <div class="form-group">
						                    
						                    <input type="checkbox" name="remember" value="yes">
						                    <label>Remember Me</label>
						                </div>

						                <button type="submit" class="btn btn-warning btn-lg">Login</button>
                                    </form>
                                    <hr>
                                    <p>Don't have to account? <a href="/signup">SignUp</a></p>
                                    
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>


	<!-- <a href="#top" class="btn btn-primary rounded-circle btn-back-to-top" data-smooth-scroll>
	<img src="/theme/jumpstart/assets/img/icons/interface/icon-arrow-up.svg" alt="Icon" class="icon bg-white" data-inject-svg>
</a> -->


<footer class="bg-primary-3 text-white links-white pb-4 footer-1">
	<div class="container">
		<div class="row">
			<div class="col-xl-auto mr-xl-5 col-md-3 mb-4 mb-md-0">
				<h5 class="______">Resources</h5>
				<ul class="nav flex-row flex-md-column">
					<li class="nav-item mr-3 mr-md-0">
						<a href="/blog" class="nav-link fade-page px-0 py-2">Blog</a>
					</li>
					<li class="nav-item mr-3 mr-md-0">
						<a href="/faq" class="nav-link fade-page px-0 py-2">FAQ</a>
					</li>
					<li class="nav-item mr-3 mr-md-0">
						<a href="/about-us" class="nav-link fade-page px-0 py-2">About Us</a>
					</li>
					<li class="nav-item mr-3 mr-md-0">
						<a href="/contact-us" class="nav-link fade-page px-0 py-2">Contact Us</a>
					</li>
				</ul>
			</div>
			<div class="col-xl-auto mr-xl-5 col-md-3">

			</div>
			<div class="col mt-4 mt-md-0 mt-lg-5 mt-xl-0 order-lg-4 order-xl-3">

			</div>
		</div>
		<div class="row">
			<div class="col">
				<hr>
			</div>
		</div>
		<div class="row flex-column flex-lg-row align-items-center justify-content-center justify-content-lg-between text-center text-lg-left">
			<div class="col-auto">
				<div class="d-flex flex-column flex-sm-row align-items-center text-small">
					<div class="text-muted">&copy;  <a href="/privacy-policy">Privacy Policy</a> and <a href="/terms-and-conditions">Terms of Service</a>
					</div>
				</div>
			</div>
			<div class="col-auto mt-3 mt-lg-0">
				<ul class="list-unstyled d-flex mb-0">
					<li class="mx-3">
						<!-- <a href="#" class="hover-fade-out">
							<img src="/theme/jumpstart/assets/img/icons/social/twitter.svg" alt="" class="icon icon-xs bg-white" data-inject-svg>
						</a> -->
					</li>
					<li class="mx-3">
						<!-- <a href="#" class="hover-fade-out">
							<img src="/theme/jumpstart/assets/img/icons/social/facebook.svg" alt="Facebook" class="icon icon-xs bg-white" data-inject-svg>
						</a> -->
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>


    <!-- Required vendor scripts (Do not remove) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" crossorigin="anonymous" async></script>
    <script src="https://d2fr04o1fa2cvp.cloudfront.net/optimized/js/vendors.min.js"></script>
    <script src="https://d2fr04o1fa2cvp.cloudfront.net/optimized/js/jquery.sticky.js"></script>
    <script src="https://d2fr04o1fa2cvp.cloudfront.net/optimized/js/app-menu.js"></script>
    <script src="https://d2fr04o1fa2cvp.cloudfront.net/optimized/js/app.js"></script>
    <script src="https://d2fr04o1fa2cvp.cloudfront.net/optimized/js/components.js"></script>



    <script type="text/javascript">
        window.addEventListener("load", function () { document.querySelector('body').classList.add('loaded'); });
    </script>
    <!-- START - previously in header -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

  
    <!-- <script src="/javascripts/app.js"></script> -->
    <script src="./javascripts/app_new4.js"></script>


    <script src="https://www.paypal.com/sdk/js?client-id=ATlLItxKKAToVXuzuFWGi9aQ-a_JJVn9e_zk7GH9g8Z13gFBoZVoW0HO503O397B5lR9Qit4IsafyoQo&currency=USD&intent=capture&disable-funding=credit"></script>
    <script src="/javascripts/Paypal.js"></script>
</body>

</html>